/*stylesheet*/

#image {
    background-color: black;
    color: white;
    height: 400px;
    width: 300px;
    position: auto;
    margin: auto;
    text-align: center;
}

#name {
    font-size: 30px;
    text-align: center;
}

#age {
    position: auto;
    text-align: center;
    font-size: 10px;
}